{% extends 'magazine/base.html' %}
{% block content %}
<!Doctype html>
<html>
    <head style="background-color:gray"> 
        <title> Magazine diverse</title>
        

        
        <h1 align="center" style="background-color:gray">Magazine home</h1>        
        <hr>
     </head>
    <body style="background-color:Violet"> 
        <h4 align="center">Hello!</h4>
        <h3 align="center">Happy to be here? I am happy.</h3><br/>
        Feel free to dig in whats below
        <ul align="center">
            <li>Lifestyle</li>
            <li>Art</li>
            <li>Business</li>
            <li>Career</li>
            <li>News</li>
        </ul>
    </body>

</html>
{% endblock content %}
